<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="ToolKit=${T(com.moekr.lightning.util.ToolKit)}">
<body>
<header th:fragment="header">
    <div class="header">
        <a class="header-logo" th:href="@{/}">
            <span th:text="${ToolKit.ENGLISH_NAME}"></span>
            <span class="header-logo-sub" th:text="${ToolKit.CHINESE_NAME}"></span>
        </a>
        <ul class="header-menu">
            <li>
                <a th:href="@{/}">首页</a>
            </li>
            <li>
                <a th:href="@{/page/series.html}">专题</a>
            </li>
            <li>
                <a th:href="@{/archive.html}">归档</a>
            </li>
            <li>
                <a th:href="@{/page/about.html}">关于</a>
            </li>
            <li class="search-button">
                <a th:href="@{/search.html}"><i class="fa fa-search"></i></a>
            </li>
        </ul>
    </div>
</header>
</body>
</html>