<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="ToolKit=${T(com.moekr.lightning.util.ToolKit)}">
<head th:replace="fragment/head::head('文章归档 | '+${ToolKit.FULL_NAME})"></head>
<body>
<header th:replace="fragment/header::header"></header>
<div class="main" th:with="Properties=${ToolKit.properties}">
    <div class="post">
        <h1 class="post-title">文章归档</h1>
        <th:block th:inline="text" th:each="month,state:${months}">
            <h2>[[${month.get(0).createdAt.getYear()}]]年[[${month.get(0).createdAt.getMonthValue()}]]月</h2>
            <p class="post-info" th:each="article,state:${month}">[ [[${article.createdAt.toLocalDate()}]] ] <a th:href="'/article/'+${article.id}" th:text="${article.title}"></a> [ [[${ToolKit.parseTags(article.tags)}]] ]</p>
        </th:block>
        <div class="no-articles" th:if="${months.size()==0}">你仿佛来到了知识的荒原...</div>
        <p th:utext="${Properties.eof}"></p>
        <footer th:replace="fragment/footer::footer"></footer>
    </div>
</div>
<div th:replace="fragment/script::script('false')"></div>
</body>
</html>