<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="ToolKit=${T(com.moekr.lightning.util.ToolKit)}">
<head th:replace="fragment/head::head(${article.title}+' | '+${ToolKit.FULL_NAME})"></head>
<body>
<header th:replace="fragment/header::header"></header>
<div class="main" th:with="Properties=${ToolKit.properties}">
    <div class="post">
        <h1 class="post-title" th:text="${article.title}"></h1>
        <div class="post-tags" th:if="${article.isNormal()}">
            <p th:inline="text">[[${article.views}]] 浏览 | 标签: [[${ToolKit.parseTags(article.tags)}]]</p>
        </div>
        <p class="post-info" th:if="${article.isNormal()}">发表于<span th:text="${article.createdAt.toLocalDate()}"></span>， 最后修改于<span th:text="${article.modifiedAt.toLocalDate()}"></span>
        <div th:utext="${parser.apply(article.content)}"></div>
        <p th:utext="${Properties.eof}"></p>
        <p th:utext="${Properties.copyright}"></p>
        <div id="disqus_thread"></div>
        <footer th:replace="fragment/footer::footer"></footer>
    </div>
</div>
<div th:replace="fragment/script::script(${article.id})"></div>
</body>
</html>
