<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="ToolKit=${T(com.moekr.lightning.util.ToolKit)}">
<head th:replace="fragment/head::head('出错了 | '+${ToolKit.FULL_NAME})"></head>
<body>
<header th:replace="fragment/header::header"></header>
<div class="main">
    <div class="index">
        <h1 class="error-title">Oops，似乎出现了一些问题……</h1>
        <p th:text="'错误代码：'+${error}"></p>
        <p th:text="'错误信息：'+${message}"></p>
        <p><a th:href="@{/}" th:text="返回首页"></a></p>
        <!--/*@thymesVar id="stack" type="java.lang.String"*/-->
        <p th:if="${stack}">错误堆栈：</p>
        <pre><code th:text="${stack}" th:if="${stack}"></code></pre>
        <footer th:replace="fragment/footer::footer"></footer>
    </div>
</div>
<div th:replace="fragment/script::script('false')"></div>
</body>
</html>
