<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="ToolKit=${T(com.moekr.lightning.util.ToolKit)}">
<head th:replace="fragment/head::head(${ToolKit.FULL_NAME})"></head>
<body>
<header th:replace="fragment/header::header"></header>
<div class="main">
    <div class="index">
        <div th:replace="fragment/articles::articles('false')"></div>
        <footer th:replace="fragment/footer::footer"></footer>
    </div>
</div>
<div th:replace="fragment/script::script('false')"></div>
</body>
</html>
