<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="ToolKit=${T(com.moekr.lightning.util.ToolKit)}">
<head th:replace="fragment/head::head('搜索 | '+${ToolKit.FULL_NAME})"></head>
<body>
<header th:replace="fragment/header::header"></header>
<div class="main">
    <div class="index" th:with="query=${#httpServletRequest.getParameter('q')}">
        <form class="search-form" action="/search.html" method="GET">
            <div class="search-wrapper">
                <input class="search-input" type="search" name="q" placeholder="请输入关键字..." required th:value="${query}"/>
            </div>
            <input class="search-submit" type="submit" value="搜索">
        </form>
        <h1 class="search-title" th:text="'搜索结果'"></h1>
        <div th:replace="fragment/articles::articles('true')"></div>
        <footer th:replace="fragment/footer::footer"></footer>
    </div>
</div>
<div th:replace="fragment/script::script('false')"></div>
</body>
</html>
